.news_small{
	background-color: var(--bg-color4);
	text-align: center;
}

.news__item_small{
	float: left;
	width: 32%;
	margin-right: 2%;
	text-align: left;
	overflow: hidden;
}

.news__item_small:last-child{
	margin-right: 0;
}

.news__wr{
	padding-top: 80px;
	margin-bottom: 40px;
}

.news_small__btn{
	margin-bottom: 80px;
}

.news_item__img{
	width: 100%;
	height: 230px;
}

.news_item__title{
	font-size: 22px;
	line-height: 25px;
	padding-bottom: 10px;
}

.news_item__desc{
	opacity: .5;
}

.news{
	background-color: rgba(0, 0, 0, .02);
	text-align: center;
}

.news__items{
	overflow: hidden;
	padding-bottom: 90px;
	text-align: left;
}

.news__btn{
	margin-bottom: 103px;
	font-family: 'FuturaNewBook-Reg';
}

.news__top{
	overflow: hidden;
}

.news__search{
	float: right;
}

.news__title{
	padding: 40px 0;
	float: left;
	font-size: 50px;
}

.news__item,
.news__item-big{
	width: 32%;
	margin-right: 2%;
	float: left;
	height: 436px;
	margin-bottom: 16px;
	position: relative;
}

.news__item-big{
	width: 66%;
}

.news__item:last-child,
.news__item:nth-child(2){
	margin-right: 0;
}

.news__name{
	font-size: 22px;
	padding-top: 11px;
	padding-bottom: 7px;
	line-height: 30px;
}

.news__desc{
	font-size: 16px;
	line-height: 23px;
	opacity: .5;
}

.news__link{
	font-family: 'FuturaNewBook-Reg';
	padding-right: 14px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.news__img{
	width: 100%;
}

.news__img-big{
	width: auto;
	height: 100%;
	float: left;
}

.news__link-big{
	position: relative;
	float: left;
	padding-left: 20px;
}

.news__name-big{
	padding-top: 59px;
	padding-left: 20px;
	float: left;
	width: 220px;
	padding-bottom: 20px;
}

.news__desc-big{
	float: left;
	padding-left: 20px;
	width: 220px;
	padding-bottom: 30px;
}

.news__search_wr{	
	margin-top: 40px;
	display: inline-block;
	position: relative;
}

.news__search_wr:before{
	left: 0;
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url(../../images/search.svg);
}

.news__search{
	all: unset;
	width: 410px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	text-align: left;
	padding: 12px 0 12px 30px;
}

.news__top{
	text-align: right;
}

.news__img_mob{
	display: none;
}

.news_slider{
	width: 458px;
	position: relative;
}

.news_slider__item{
	width: 200px;
	display: inline-block;
}

.news_slider__img{
	width: 100%;
}

.news_slider__wr{
	overflow-x: hidden;
}

.news_slider__wr .owl-nav{
	right: -20px;
	top: 21px;
}

.news_slider__title{
	font-size: 26px;
	padding-top: 14px;
	padding-bottom: 30px;
	font-family: 'FuturaNewBook-Reg';
}

.news_slider___desc{
	font-size: 16px;
	line-height: 23px;
}

@media screen and (max-width: 1023px) {
	.news__item_small:nth-child(3){
		display: none;
	}
	.news__item_small{
		width: 340px;
		display: inline-block;
		vertical-align: top;
		float: none;
	}
	.news__wr{
		margin: 0 auto 40px;
	}
	.news__search{
		width: 100%;
	}
	.news{
		padding: 0 40px;
	}
	.news__title{
		font-size: 40px;
		display: block;
		float: none;
		padding-top: 54px;
		padding-bottom: 20px;
		text-align: left;
	}
	.news__search_wr{
		display: block;
		float: none;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.news__item-big{
		width: 100%;
		margin-right: 0;
	}
	.news__item{
		width: 48%;
		margin-right: 4%;
	}
	.news__item:last-child, .news__item:nth-child(2){
		margin-right: 4%;
	}
	.news__img-big{
		width: 48%;
		height: auto;
	}
	.news__item:nth-child(2n + 1){
		margin-right: 0;
	}
	.news__item,
	.news__item, .news__item-big{
		height: auto;
	}
	.news__name-big{
		padding-top: 0;
		padding-left: 30px;
		width: 240px;
		font-size: 24px;
	}
	.news__desc-big{
		width: 217px;
		padding-left: 30px;
		padding-right: 100px;
	}
	.news__link-big{
		padding-left: 30px;
	}
	.news__link{
		position: relative;
		padding-top: 40px;
		padding-bottom: 40px;
		display: inline-block;
	}
	.news__items{
		padding-bottom: 20px;
	}
	.news__btn{
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 767px){
	.news__item_small:nth-child(2){
		display: none;
	}
	.news__item_small{
		width: 100%;
		max-width: 340px;
		padding: 0 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.news_item__img{
		height: auto;
	}
	.news__item{
		width: 100%;
		padding-bottom: 20px;
	}
	.news__img-big{
		display: none;
	}
	.news__img_mob{
		display: block;
	}
	.news__desc-big,
	.news__name-big,
	.news__link-big{
		padding-left: 0;
		width: 100%;
		float: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.news__link{
		padding-left: 0;
		float: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.news__title{
		font-size: 30px;
	}
	.news__name-big,
	.news__name{
		font-size: 20px;
		line-height: 30px;
	}
}