.person__navigator .navigator__btn{
	padding: 0 10px;
}

.perNavBtn{
	width: 125px;
}

.person__navigator{
	background-color: var(--bg-color11);
	position: relative;
}

.person_md .person__navigator{
	background-color: var(--bg-color3);
}

.person__title{
	padding: 30px 0 35px;
	font-size: 64px;
}

.person_item{
	-webkit-transition: all ease 2s;
	-o-transition: all ease 2s;
	transition: all ease 2s,;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	position: absolute;
	width: 100%;
	top: 0;
}

.wrapper + footer{
	border-top: 1px solid rgba(0, 0, 0, .2);
}

.person_item.active{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	position: relative;
}

.person_item.past{
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	/*position: absolute;*/
}

.wrapper{
	position: relative;
	overflow: hidden;
}

.input{
	all: unset;
	position: absolute;
	width: 100%;
}

.common__inputs{
	width: 388px;
	float: left;
	position: relative;
}

.common__inputs:after{
	content: '';
	clear: both;
	display: table;
}

.ph{
	display: block;
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
	position: absolute;
}

.ph,
.input{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.input_wr{
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	position: relative;
	height: 50px;
	margin-top: 16px;
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

.input:focus + .ph,
.input.has_cont + .ph{
	top: 0;
	font-size: 12px;
	opacity: .5;
}

.wrong{
	border-color: var(--warning-color);
	color: var(--warning-color);
}

.warning{
	/*display: none;*/
	opacity: 0;
	font-size: 16px;
	position: absolute;
	right: 0;
	bottom: -20px;
	color: var(--warning-color);
	text-transform: lowercase;
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

.wrong:after{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 26px;
	height: 26px;
	background: url(../../images/warning.svg) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.wrong .warning{
	/*display: block;*/
	opacity: 1;
}

.wrong .ph{
	color: var(--warning-color);
	opacity: 1;
}

.common__title{
	text-align: left;
	padding-bottom: 20px;
	padding-top: 60px;
}

.common__desc{
	max-width: 500px;
	padding-bottom: 55px;
}

.common__form{
	overflow: hidden;
}

.common__radios{
	float: right;
}

.basket_form .common__radios{
	width: 350px;
	margin-bottom: 30px;
}

.check_hid{
	opacity: 0;
	position: absolute;
	width: 0;
}

.check_hid + .procedures_form__custom_input{
	border: 1px solid black;
}

.procedures_form__custom_input_dot{
	opacity: 0;
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

.check_hid:checked + .procedures_form__custom_input .procedures_form__custom_input_dot{
	opacity: 1;
}

.radio_wr{
	position: relative;
	padding-left: 23px;
}

.radio_wr label{
	cursor: pointer;
}

.common__radio_title{
	padding-bottom: 28px;
	font-family: 'FuturaNewBook-Reg';
	font-size: 22px;
}

.common__radio_wr .radio_wr{
	margin-bottom: 40px;
}

.common__btn{
	margin: 80px auto 140px;
	background-color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.form__wr{
	float: left;
	width: 100%;
	text-align: center;
}

.table__left{
	padding: 35px 0;
}

.table{
	width: 100%;
}

.table td{
	vertical-align: middle;
}

.table tr{
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	border-top: 1px solid rgba(0, 0, 0, .2);
}

.adress__table{
	margin-bottom: 40px;
}

.common__title_low{
	font-size: 26px;
	padding-bottom: 25px;
	display: inline-block;
}

.table__bold{
	font-family: 'FuturaNewBook-Reg';
}

.table__op{
	opacity: .5;
	padding: 10px 0;
}

.table__link{
	padding-right: 20px;
}

.table__remove span{
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	top: 50%;
	background-color: #000;
}

.table__remove span:first-child{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.table__remove span:last-child{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.table__remove{
	position: relative;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.table__center{
	width: 14%;
}

.table__right{
	width: 2%;
}

.adress__inputs{
	padding-bottom: 60px;
	float: none;
}

.adress__btn{
	margin-bottom: 103px;
}

.password__btn{
	margin: 0 0 160px;
}

.min_height{
	min-height: 100vh;
}

.person .navigator__menu{
	position: relative;
	/*width: 100%;*/
	white-space: nowrap;
}

.person .navigator__menu a{
	white-space: normal;
}

.person .mCSB_horizontal{
	padding-top: 0;
	overflow: visible;
}

.person .mCSB_container{
	/*width: 150% !important;*/
}

.person .mCSB_scrollTools_horizontal{
	top: auto !important;
	bottom: -20px !important;
	left: 20px;
	right: 20px;
	z-index: 5;
}

.perNavBtn.active{
	background-color: var(--white-color);
}

tr.table__title{
	border-top: none;
	font-size: 22px;
}

.active__table tr{
	height: 60px;
}

.active__table td{
	width: 24%;
	text-align: center;
}

.active__table td:first-child{
	text-align: left;
	width: 14%;
}

.active__table td:last-child{
	text-align: right;
	width: 14%;
}

.active__table{
	margin-bottom: 200px;
}

.table-op{
	opacity: .6;
}

.table-bold{
	font-family: 'FuturaNewBook-Reg';
}

.answers .comment__answer{
	padding-left: 40px;
	margin-left: 40px;
}

.answers .shop_slider__wr{
	width: 100%;
	margin: 0;
	float: none;
	overflow: visible;
}

.answers .owl-nav{
	top: -62px;
	right: 0;
}

.answers .owl-dots{
	display: none;
}

.answers__recomend{
	max-width: 827px;
}

.answers .review__comment{
	padding-bottom: 0;
}

.answers .slider__wr{
	padding-top: 0;
}

.recomend__btn{
	margin-bottom: 66px;
}

.comment.close .answers__recomend{
	display: none;
}

.answers .consult_wr__comment:nth-last-child(2){
	border-bottom: 1px solid #AEAEAE;
}

.answers .consult_wr__comment:last-child{
	border-bottom: none;
}

.answers .consult_wr{
	border-bottom: none;
}

.reviews .review__rait,
.reviews .review__name{
	background-color: #fff;
}

.reviews .table__left p:last-child{
	padding-right: 170px;
}

.table__center{
	font-family: 'FuturaNewBook-Reg';
}

.reviews__table{
	margin-bottom: 200px;
}

.subs__btn{
	margin-bottom: 123px;
}

.active_sub .subs__btn{
	display: none;
}

.sub_act{
	margin-bottom: 123px;
	height: 50px;
	display: none;
	font-family: 'FuturaNewBook-Reg';
}

.active_sub .sub_act{
	display: block;
}

.sub_act__link{
	display: inline-block;
	margin-left: 32px;
	padding-right: 20px;
	cursor: pointer;
}

.table__remove_mob{
	display: none;
}

.active__table_mob {
	display: none;
}

.basket_form .procedures_form__custom_input{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	top: 4px;
}

.basket_form{
	background-color: var(--bg-color2);
}

.basket_form__title{
	padding: 96px 0 50px;
	font-size: 26px;
}

.radio_wr__desc{
	font-size: 16px;
}

.basket_form .radio_wr{
	margin-bottom: 20px;
}

.basket_form__low_title,
.basket_form .common__radio_title{
	font-family: 'FuturaNewLight-Reg';
	font-size: 22px;
	padding-top: 0;
	padding-bottom: 20px;
}

.basket_form .btn{
	margin-top: 110px;
	margin-bottom: 80px;
	background-color: var(--bg-color2);
}

.basket_form .btn:hover{
    background-color: var(--bg-color6);
}

.auth{
	position: relative;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

.auth:hover{
	border-bottom-color: rgba(0, 0, 0, 0);
}

.partner_form{
	background-color: var(--bg-color2);
}

.partner_form__title{
	padding-top: 63px;
	font-size: 30px;
}

.partner_form .common__inputs{
	margin: 0 auto;
	float: none;
	padding-bottom: 50px;
}

.partner_form__btn{
	background-color: var(--bg-color2);
	font-size: 18px;
	display: block;
	margin: 0 auto 70px;
}

.person_exit{
	position: absolute;
	right: 0;
	top: 70px;
	font-family: 'FuturaNewBook-Reg';
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-self: center;
}

.person_exit img{
	margin-left: 6px;
}

.person_abs{
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 120px;
	width: 100%;
	padding: 0;
}

.patients__promo_btn{
	background-color: #fff;
	font-size: 18px;
	margin-right: 30px;
	margin-bottom: 65px;
	display: inline-block;
}

.patients .common__inputs,
.answers .common__inputs{
	float: none;
	padding-bottom: 40px;
}

.patients__promo_desc{
	font-size: 26px;
}

.patients .news__search_wr{
	margin-top: 20px;
	width: 50%;
}

.patients .news__search{
	width: 100%;
}

.registr_form{
	width: 630px;
	/*height: 400px;*/
	position: absolute;
	background-color: #fff;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: -1;
	opacity: 0;
	/*-webkit-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;*/
	overflow: hidden;
}

.registr_form.center{
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.registr_op_wrapper,
.popup_op_wrapper{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .2);
	z-index: -1;
	opacity: 0;
	-webkit-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
}

.registration,
.answer,
.pop_up,
.call_back{
	/*overflow: hidden;*/
	/*position: relative;*/
    overflow-x: hidden;
}

body.registration,
body.answer,
body.pop_up,
body.call_back{
	overflow: hidden;
}

.registration .registr_op_wrapper,
.pop_up .popup_op_wrapper{
/*.registr_op_wrapper{*/
	opacity: 1;
	z-index: 99;
}

.pop_up .call_back_form,
.pop_up .anwer_form{
	opacity: 0;
	z-index: -1;
}

.call_back .call_back_form{
	opacity: 1;
	z-index: 99;	
}

.call_back.promo .call_back_form{
	opacity: 0;
	z-index: -1;	
}

.call_back .call_back_form.promoPopUp{
	opacity: 0;
}

.call_back.promo .call_back_form.promoPopUp{
	opacity: 1;
	z-index: 99;	
}

.answer .anwer_form{
	opacity: 1;
	z-index: 99;
}

.promoPopUp__text{
	padding-bottom: 50px;
	text-align: center;
}

.promoPopUp__btn{
	width: 224px;
	margin: 0 auto 50px;
	display: block;
}

.registration .registr_form,
.pop_up .registr_form,
.answer .registr_form,
.call_back .registr_form{
/*.registr_form{	*/
	z-index: 100;
	opacity: 1;
	text-align: center;
}

.registr_form .person_item{
	width: 100%;
	min-height: 100px;
	padding-top: 51px;
	/*-webkit-transform: translateX(250%);
	-ms-transform: translateX(250%);
	-o-transform: translateX(250%);
	transform: translateX(250%);*/
	opacity: 0;
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	z-index: -100;
}

.registr_form .person_item.active{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 1;
	-webkit-transition: all ease .5s .3s;
	-o-transition: all ease .5s .3s;
	transition: all ease .5s .3s;
	z-index: 100;
}

.registr_form .person_item.past{
	/*-webkit-transform: translateX(-250%);
	-ms-transform: translateX(-250%);
	-o-transform: translateX(-250%);
	transform: translateX(-250%);*/
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 0;
	z-index: -100;
}

.form_wr_ov-h{
	overflow: hidden;
}

.registr_form__content{
	max-width: 388px;
	margin: 0 auto;
	position: relative;
	/*text-align: left;*/
}

.registr_form .input{
	left: 0;
	text-align: left;
}

.registr_form__head{
	padding-top: 100px;
	/*padding: 100px 80px 0;*/
	display: inline-block;
}

.registr_form__bg{
	background-color: var(--bg-color2);
}

.regBtn{
	display: inline-block;
	width: auto;
	padding: 0 16px 20px;
	margin: 0 15px;
	opacity: .6;
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

.regBtn.active{
	background-color: var(--bg-color2);
	border-bottom: 1px solid black;
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	opacity: 1;
}

.registr_form__inputs{
	padding-bottom: 54px;
}

.registr_form__auth_btn,
.registr_form__reg_btn{
	font-size: 18px;
	background-color: #fff;
	cursor: pointer;
	margin-bottom: 10px;
}

.registr_form__reg {
	text-align: left;
}

.registr_form__forget_pass{
	font-size: 16px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	display: inline-block;
}

.registr_form__text_abs_wr{
	position: relative;
	margin-bottom: 23px;
}

.registr_form__text_abs_wr::before{
	top: 50%;
	left: -200px;
	right: -200px;
	height: 1px;
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, .2);
}

.registr_form__text_abs_wr span{
	background-color: #fff;
	display: inline-block;
	padding: 0 20px;
	position: relative;
	z-index: 2;
}

.registr_form .footer__social{
	float: none;
	margin: 10px 10px 40px;
	border: 1px solid rgba(0, 0, 0, .4);
}

.registr_form .footer__social img.hov{
	opacity: 1;
}

.registr_form .footer__social:hover{
	background-color: #000;
}

.registr_form .footer__social:hover img{
	opacity: 1;
}

.registr_form .footer__social:hover img.hov{
	opacity: 0;
}

.g-recaptcha{
	padding-bottom: 20px;
	padding-top: 10px;
}

.registr_form__reg_checks{
	display: block;
}

.registr_form__reg_checks .find_md__filter_text{
	display: block;
	font-size: 16px;
	margin-right: 0;
	margin-bottom: 10px;
}

.registr_form__reg_btn{
	margin: 0 auto 100px;
	display: block;
}

.registr_form__reg_md{
	text-align: left;
}

.registr_form p{
	font-size: 16px;
}

.registr_form p:nth-last-child(2){
	margin-bottom: 47px;
}

.close_reg_form{
	position: absolute;
	width: 20px;
	height: 20px;
	display: block;
	top: 30px;
	right: 30px;
}

.close_reg_form span{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #000;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close_reg_form span:last-child{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.registr_form .input_drop{
	margin-bottom: 0;
	margin-top: 20px;
}

.pop_up__title{
	font-size: 40px;
	padding-bottom: 40px;
	padding-top: 0;
}

.pop_up .g-recaptcha{
	padding-bottom: 60px;
}

.textarea{
	height: 88%;
}

.textarea_wr{
	height: 150px;
}

.textarea + .ph,
.textarea_wr.wrong:after{
	top: 84%;
}

.registr_form .registr_form__mess.person_item{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	position: relative;
}

.registr_form__mess,
.registr_form__promo{
	text-align: left;
}

.drag_wr{
	/*position: absolute;
	left: 0;
	right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);*/
    height: 15px;
    /*background-color: red;*/
    margin-top: 20px;
    position: relative;
}

.drag_wr::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	top: 7px;
	background-color: rgba(0, 0, 0, .2);
}

.mark__drag{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000;
	top: 0;
	left: calc(50% - 7.5px);
	z-index: 101;
	/*-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);*/
}

.review__rating_link span{
	display: none;
}

.drag_inp{
	border-bottom: none;
	padding-top: 10px;
}

.drag_inp__mark{
	float: right;
}

.hid{
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -2;
}

.forgot{
	display: none;
}

@media screen and (max-width: 1279px) {
	.min_height{
		min-height: 100vh;
	}
}

@media screen and (max-width: 1023px) {
	.basket_form .common__radios{
		width: 50%;
		float: left;
	}
	.basket_form .common__inputs{
		max-width: 100%;
	}
	.person_exit{
		right: 40px;
	}
	.person__navigator{
		padding-bottom: 30px;
		overflow: hidden;
		position: relative;
	}
	.person__navigator::after{
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		height: 30px;
		background-color: #fff;
	}
	.person .navigator__menu{
		padding-left: 20px;
		padding-right: 20px;
	}
	.person_item{
		padding: 0 40px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.common__radios,
	.common__inputs,
	.form__wr{
		float: none;
		width: auto;
	}
	.common__inputs{
		padding-bottom: 40px;
		max-width: 451px;
	}
	.common__btn{
		margin: 20px auto 72px;
	}
	.person__title{
		font-size: 40px;
		text-align: left;
		padding: 40px 0 54px 40px;
	}
	.table__left{
		display: block;
		padding-bottom: 10px;
	}
	.table__center,
	.table__right{
		display: inline-block;
		margin-bottom: 35px;
	}
	.table__remove{
		display: none;
	}
	.table__remove_mob{
		display: inline-block;
		width: auto;
		padding-right: 20px;
		height: auto;
		font-family: 'FuturaNewBook-Reg';
		margin-left: 80px;
	}
	.answers .consult_wr{
		padding: 0;
	}
	.answers .comment__answer{
		padding-left: 0;
		margin-left: 0;
	}
	.answers .slider__wr{
		margin-left: 0;
	}
	.common__title_low{
		display: block;
		padding-bottom: 20px;
		margin-bottom: 40px;
	}
	.answers .common__title_low{
		border-bottom: solid 1px #AEAEAE;		
	}
	.basket_form{
		padding: 0 40px;
	}
	.basket_form__title{
		padding-top: 50px;
	}
}

@media screen and (max-width: 767px) {
	.basket_form .common__radios{
		width: 100%;
		float: left;
	}
	.person__title{
		font-size: 30px;
		padding: 30px 0 30px 20px;
	}
	.sub_act__link{
		margin-left: 0;
	}
	.sub_act span:first-child{
		display: block;
	}
	.person_exit{
		right: 20px;
		top: 40px;
	}
	.person .navigator__menu{
		padding-left: 0;
		padding-right: 0;
	}
	.person_item{
		padding: 0 20px;
	}
	.common__title{
		padding-top: 12px;
		padding-bottom: 23px;
	}
	.person_item{
		font-size: 16px;
	}
	.common__desc{
		padding-bottom: 25px;
	}
	.common__radio_title{
		font-size: 20px;
		padding-bottom: 24px;
	}
	.common__title_low{
		font-size: 16px;
		padding-bottom: 12px;
	}
	.table__left{
		padding-top: 25px;
	}
	.table__center, .table__right{
		margin-bottom: 25px;
	}
	.table__center .table__link{
		display: inline-block;
	}
	.order .active__table{
		display: none;
	}
	.order .active__table_mob{
		display: table;
	}
	.active__table_mob tr:last-child{
		border-bottom: none;
	}
	.active__table_mob p:first-child{
		padding-bottom: 4px;
	}
	.active__table_mob tr{
		height: 103px;
	}
	.active__table_mob td:last-child{
		width: 24%;
	}
	.common__title_low{
		margin-bottom: 25px;
		padding-bottom: 10px;
	}
	.answers .owl-nav {
	    top: -57px;
	    right: -19px;
	}
	.recomend__btn{
		margin-top: 40px;
	}
	.reviews .table__left p:last-child{
		padding-right: 0;
	}
	.basket_form{
		padding: 0 20px;
	}
	.basket_form__title{
		font-size: 24px;
	}
	.basket_form .btn{
		margin-top: 50px;
		margin-bottom: 70px;
	}
	.partner_form{
		padding: 0 20px;
	}
	.patients__promo_btn{
		width: 100%;
		display: block;
		height: auto;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 20px;
	}
	.patients__promo_btn:last-child{
		margin-bottom: 50px;
	}
	.patients .common__inputs{
		max-width: 100%;
	}
	.patients__promo_desc{
		font-size: 22px;
		line-height: 28px;
	}
	.patients .news__search_wr{
		width: 100%;
		margin-bottom: 0;
	}
	.registr_form{
		width: 100%;
	}
	.regBtn{
		font-size: 16px;
		padding: 0 4px 10px;
		margin: 0 6px;
	}
	.registr_form__head{
		padding-top: 90px;
	}
	.regBtn.active{
		border-width: 3px;
		font-family: 'FuturaNewBook-Reg';
	}
	.registr_form__reg_btn{
		margin-bottom: 60px;
	}
	.registr_form .input_drop__down{
		margin-top: 0;
		padding-top: 0;
		margin-bottom: -6px;
	}
	.pop_up__title{
		font-size: 30px;
	}
}