.scroll__cont{
	width: 100%;
	float: left;
	overflow: hidden;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	border-radius: 0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
	margin: 4px 0 8px;
}

.scroll .mCSB_container{
	width: 200% !important;
}

.scroll__cont div{
	float: left;
	overflow: hidden;
}

.mCSB_dragger_bar{
	background-color: #000 !important;
}

.mCSB_scrollTools_horizontal{
	bottom: auto !important;
	top: 0 !important;
}

.mCSB_horizontal{
	padding-top: 40px;
}

.mCSB_container.left{
	left: 0 !important;
}

.scroll_HDIW__wr.opacity{
	opacity: 0;
}

.scroll_HDIW__wr{
	-webkit-transition: all ease .1s;
	-o-transition: all ease .1s;
	transition: all ease .1s;
}

/*.ymaps-2-1-65-controls__control_toolbar{
	display: none !important;
}*/

@media screen and (max-width: 767px) {
	.scroll_HDIW__wr.opacity{
		opacity: 1;
	}
}