.scroll__cont{
	width: 100%;
	float: left;
	overflow: hidden;
}

.mCSB_container{
	width: 200% !important;
}

.scroll__cont div{
	float: left;
	overflow: hidden;
}

.mCSB_dragger_bar{
	background-color: #000 !important;
}

.mCSB_scrollTools_horizontal{
	bottom: auto !important;
	top: 0 !important;
}

.mCSB_horizontal{
	padding-top: 40px;
}