@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

.smpl_btn{
	background-image: url(../../images/bg2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.block_with_bg{
	/*height: 520px;*/
	background-image: url(../../images/bg1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.smpl_btn__title{
	font-size: 40px;
	line-height: 50px;
	width: 620px;
	padding: 66px 0 32px;
	font-family: 'Cormorant Garamond', serif;
}

.smpl_btn_cont__title{
	font-size: 64px;
	width: 570px;
	padding: 79px 0 20px;
	font-family: 'Cormorant Garamond', serif;
	position: relative;
	line-height: 78px;
}

.part_of_bg{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0%;
	left: 70%;
	background-color: var(--bg-color5);
}

.smpl_btn__desc{
	padding-bottom: 28px;
	width: 600px;
	line-height: 25px;
}

.smpl_btn_cont__desc{
	font-size: 26px;
	margin: 12px 0 48px;
	width: 385px;
	line-height: 32px;
	/*font-family: 'FuturaNewBook-Reg';*/
}

.smpl_btn_cont__btn{
	margin-bottom: 86px;
}

.smpl_btn_cont__product{
	position: absolute;
	top: 46px;
	width: 390px;
	height: 390px;
	left: 70%;
	transform: translateX(-50%);
}

.smpl_btn_cont{
	position: relative;
	overflow: hidden;
}

.smpl_btn_cont .owl-nav{
	bottom: 39px;
    right: 24.3%;
	transform: translateX(50%);
}

.smpl_btn_cont .owl-dots{
	left: 50%;
	transform: translateX(-50%);
	bottom: 25px;
}
/*.smpl_btn_cont .owl-item{
	width: 33% !important;
}
.smpl_btn_cont .owl-item.active{
	width: 34% !important;
}*/

.smpl_btn{
	padding: 0 40px 26px;
	overflow: hidden;
}


/*news*/
.smpl_news_article__road{
	padding-top: 33px;
	padding-bottom: 35px;
}

.smpl_news_article__link{
	font-size: 16px;
	color: var(--header-opacity-text-color);
}

.smpl_news_article__title{
	padding-top: 24px;
	padding-bottom: 117px;
	width: 484px;
	font-size: 50px;
	text-align: left;
	line-height: 61px;
}

.smpl_news_article{
	padding: 0;
}

@media screen and (max-width: 1440px) {
	.smpl_btn_cont__product{
		left: 74%;
	}
	.smpl_btn_cont .owl-nav{
		right: 19%;
	}
	.part_of_bg{
		left: 85%;
	}
}
@media screen and (max-width: 1279px) {
	.smpl_btn_cont__title{
		font-size: 50px;
		padding-top: 62px;
    	padding-bottom: 22px;
		line-height: 61px;
	}
	.smpl_btn_cont__desc{
		font-size: 24px;
		margin-bottom: 57px;
	}
	.smpl_btn_cont__product{
		left: 79%;
		width: 360px;
		height: 360px;
	}
	.smpl_btn_cont .owl-nav{
		right: 7%;
	}
	.smpl_btn_cont .owl-dots{
		bottom: 43px;
	}
	.smpl_btn_cont__btn{
		margin-bottom: 84px;
	}
	.smpl_btn{
		padding: 0 0 30px;
	}
	.half__right .half_slider__text:nth-child(1){
		padding-left: 0;
		margin-left: -10px;
	}
	.half__left .half_slider__text:nth-child(1){
		margin-right: -10px;
	}
}
@media screen and (max-width: 1023px) {
	.smpl_btn_cont__slider_item{
		padding-left: 40px;
	}
	.smpl_btn_cont__btn{
		margin-bottom: 116px;
	}
	.smpl_btn_cont .owl-nav{
		right: 8.5%;
		bottom: 32px;
	}
	.smpl_btn_cont__product{
		width: 300px;
		height: 300px;
		left: 72%;
		top: 76px;
	}
	.smpl_btn_cont__title{
		font-size: 40px;
		line-height: 48px;
		padding-top: 45px;
		width: 370px;
	}
	.smpl_btn_cont__desc{
		font-size: 20px;
		margin-bottom: 82px;
		width: 300px;
		line-height: 27px;
	}
	.smpl_btn{
		padding: 0 40px;
		text-align: center;
	}
	.smpl_btn__title, 
	.smpl_btn__desc{
		max-width: 540px;
		width: 100%;
		margin: 20px auto; 
	}
	.smpl_btn__title{
		font-size: 35px;
		line-height: 44px;
		padding-top: 56px;
		padding-bottom: 5px;
	}
	.smpl_btn__desc{
		font-size: 16px;
		line-height: 25px;
		padding-bottom: 11px;
	}
}
@media screen and (max-width: 767px) {
	.part_of_bg{
		left: 50%;
		z-index: -2;
	}
	.block_with_bg{
		z-index: -1;
	}
	.smpl_btn_cont__title{
		width: 300px;
		margin: 0 auto;
		font-size: 30px;
		padding-top: 18px;
		padding-bottom: 10px;
		line-height: 36px;
	}
	.smpl_btn_cont__title:after{
		display: none;
	}
	.smpl_btn_cont__desc{
		width: 250px;
		margin: 0 auto 265px;
		font-size: 16px;
		line-height: 21px;
	}
	.smpl_btn_cont__product{
		top: 160px;
		left: 50%;
	}
	.smpl_btn_cont__slider_item{
		padding-left: 0;
		text-align: center;
	}
	.smpl_btn_cont__product{
		width: 240px;
		height: 240px;
	}
	.smpl_btn_cont__btn{
		margin-bottom: 45px;
		margin-top: 2px;
    	font-size: 16px;
	}
	.smpl_btn_cont .owl-dots{
		bottom: 15px;
	}
	.smpl_btn_cont .owl-nav{
	    width: 366px;
	    left: 50%;
	    transform: translateX(-50%);
	    right: auto;
	    bottom: 228px;
	}
	.smpl_btn_cont .owl-next{
		float: right;
	}
	.smpl_btn__title{
		font-size: 30px;
		line-height: 37px;
		padding-top: 42px;
	}
	.smpl_btn__title{
		margin-bottom: 0;
	}
	.smpl_btn__desc{
		line-height: 22px;
		margin-top: 9px;
		padding-bottom: 7px;
	}
	.smpl_btn{
		padding: 0 20px;
	}
	.smpl_btn .smpl_btn_cont__btn{
		margin-bottom: 68px;
	}
}