@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

.slider{
	position: relative;
	text-align: center;
}

.slider__prod{
	width: 250px;
	height: 442px;
	/*background-color: var(--hover-product-bg-color);*/
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
	position: relative;
}

.slider__prod:hover{
	background-color: var(--hover-product-bg-color);
}

.slider__title{
	font-size: 40px;
	padding: 68px 0 44px;
	font-family: 'Cormorant Garamond', serif;
	text-align: left;
}

.slider__wr{
	margin-bottom: 50px;
	position: relative;
}

.slider__btn{
	margin-bottom: 100px;
}

.slider .owl-dots{
	left: 50%;
	transform: translateX(-50%);
	top: -89px;
}

.slider .owl-nav{
	top: -88px;
    right: -15px;
}

.product_wr__new{
	position: absolute;
	background-color: var(--btn-style1-bg-color);
	display: inline-block;
	color: var(--white-color);
	left: 30px;
	top: 260px;
	padding: 2px 5px;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 12px;
	letter-spacing: 3px;
}

.slider__prod img{
	margin-top: 18px;
	margin-bottom: 60px;
}

.product_wr__name{
	text-align: left;
	/*opacity: .8;*/
	font-weight: 500;
	line-height: 21px;
}

.product_wr__dec{
	text-align: left;
	font-size: 16px;
	opacity: .6;
	padding-bottom: 21px;
	line-height: 21px;
}

.product__price{
	text-align: left;
}

.product__basket{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--black-color);
	display: block;
	position: absolute;
	top: 30px;
	opacity: 0;
	left: 30px;
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

.product__basket img{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider__prod:hover .product__basket{
	opacity: 1;
}

.slider_propeel .owl-stage-outer{
	overflow: hidden;
}

.slider_propeel .owl-dots{
	top: auto;
}

.slider_propeel .slider__title{
	text-align: center;
	padding-top: 0;
	padding-bottom: 50px;
}

.slider_propeel{
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	padding-bottom: 50px;
}

@media screen and (max-width: 1279px) {
	.slider__title{
		padding-top: 66px;
	}
	.slider__btn{
		margin-bottom: 83px;
	}
	.slider__prod{
		width: 236px;
	}
}
@media screen and (max-width: 1023px) {
	.slider__title, 
	.slider__wr{
		/*padding-left: 40px;*/
		width: 104%;
	}
	.slider .owl-nav{
		top: 77px;
    	right: 24px;
	}
	.slider .owl-dots{
		top: 76px;
	}
	.slider__wr{
		position: static;
	}
	.slider_propeel .slider__prod{
		background-color: var(--hover-product-bg-color);
	}
	.product__basket{
		opacity: 1;
	}
	.slider_propeel .slider__title{
		text-align: left;
	}
	.slider_propeel .owl-dots{
		top: auto;
		bottom: 0;
	}
	.slider_propeel .owl-nav{
		top: 14px;
	}
	.slider_propeel{
		/*margin-bottom: 60px;*/
	}
	.slider_main{
		padding: 0 40px;
	}
	.slider__title{
		font-size: 35px;
		padding-top: 109px;
		padding-bottom: 52px;
	}
	.slider_main .owl-dots{
		top: 120px;
	}
	.slider_main .owl-nav{
		top: 121px;
		right: -19px;
	}
	/*.slider__prod img{
		margin-bottom: 69px;
	}*/
	.slider__wr{
		width: 108%;
		padding-bottom: 53px;
		margin-bottom: 0;
	}
	.slider__btn{
		margin-bottom: 96px;
	}
	.slider_propeel{
		padding: 0 40px 50px;
		overflow: hidden;
	}
	.slider__prod{
		width: 235px;
		background-color: var(--hover-product-bg-color);
	}
	.slider_propeel .max_width{
		overflow: visible;
	}
	.slider_main .max_width{
		overflow: visible;
	}
}

@media screen and (max-width: 767px) {
	.slider_propeel{
		padding: 0 20px 50px;
	}
	.slider .owl-dots{
		top: auto;
		bottom: 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		/*position: static;
		transform: translateX(-16%);*/
	}
	.slider__title, 
	.slider__wr{
		padding-left: 20px;
		/*width: 145%;*/
		width: 543px;
	}
	.slider .owl-nav{
		right: 20px;
	}
	.slider__prod{
		height: 394px;
		background-color: var(--bg-color1);
	}
	.slider__btn{
		margin-bottom: 50px;
		padding: 0 17px;
	}
	.slider__prod > img{
		position: absolute;
		top: 30px;
		right: 0;
		margin-bottom: 0;
	}
	.slider__prod{
		padding-top: 238px;
	}
	.product_wr__name{
		width: 103px;
		padding-bottom: 11px;
	}
	.product_wr__dec{
		padding-bottom: 13px;
	}
	.slider__wr{
		margin-bottom: 5px;
		padding-left: 0;
		width: 170%;
		padding-bottom: 60px;
	}
	.slider__prod > img{
		width: 60%;
	}
	.product_wr__new{
		/*display: none;*/
		top: 190px;
	}
	.slider_propeel .slider__title{
		font-size: 30px;
	}
	.slider_propeel .owl-nav{
		right: -19px;
		top: 7px;
	}
	.slider__title{
		font-size: 30px;
		width: auto;
		padding: 60px 0 27px;
	}
	.slider_main{
		padding: 0 20px;
		overflow: hidden;
	}
	.slider_main .max_width{
		overflow: visible;
	}
	.slider_main .owl-nav{
		right: -16px;
		top: 68px;
	}
	.slider_main .owl-dots{
		bottom: 30px;
	}
}

