.basket_table__row div{
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
}

.basket_table__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.basket_table__l{
	width: 14%;
	margin-right: 2%;
	background-color: var(--bg-color1);
	height: 100%;
	text-align: center;
}

.basket_table__title .basket_table__l{
	background-color: #fff;
	text-align: left;
	height: auto;
}

.basket_table__l img{
	height: 80%;
	margin-top: 10%;
}

.basket_table__l-c{
	width: 26%;
}

.basket_table__l-c p{
	padding: 5px 0;
}

.basket_table__c{
	width: 24%;
}

.basket_table__c-r{
	width: 15%;
	text-align: center;
}

.basket_table__r{
	width: 17%;
	text-align: center;
}

.basket_table__remove{
	width: 2%;
}

.table-bold{
	font-family: 'FuturaNewBook-Reg';
}

.table-op{
	opacity: .6;
}

.basket_table__row{
	height: 185px;
	padding: 20px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.basket_table__title{
	height: 70px;
	font-size: 22px;
	margin-bottom: 0;
	border-bottom: none;
}

.has_pr,
.basket_table__pr,
.basket_table__pr2{
	border-bottom: none;
	padding: 0;
	margin: 20px 0;
}

.basket_table__bdtp{	
	border-top: 1px solid rgba(0, 0, 0, .2);
	padding-top: 20px;
	margin-top: 0;
}

.basket_table__pr{
	background-color: var(--bg-color1);
	display: none;
}

.basket_table__pr2{
	background-color: var(--bg-color11);
}

.has_pr + .basket_table__pr{
	display: block;
}

.basket_table__row .counter__btn{
	width: auto;
	border: none;
	padding: 5px;
}

.baasket_title{
	padding-top: 40px;
	font-size: 50px;
	padding-bottom: 45px;
	text-align: left;
}

.basket__low_title{
	padding-top: 0;
	text-align: left;
	padding-bottom: 30px;
}

.has_present{
	border-bottom: none;
}

.present{
	/*border-top: 20px solid white;*/
	border-top: none;
	border-bottom: 20px solid white;
	background-color: var(--bg-color1);
	height: 182px;
}

.present .basket_table__r{
	font-size: 30px;
}

.basket__desc{
	padding: 15px 20px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--bg-color13);
	display: inline-block;
}

.basket_table__pr2 .basket__desc{
	background-color: var(--btn-style1-bg-color);	
}

.basket_table__pr2 .basket_table__l{
	background-color: var(--bg-color11);
}

.basket_table__pr .basket_table__r,
.basket_table__pr2 .basket_table__r{
	font-size: 30px;
}

.op{
	opacity: .7;
	padding: 0 10px;
}

.basket__summ{
	text-align: right;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 50px;
	font-size: 16px;
}

.removed_price{
	position: relative;
	opacity: .6;
}

.removed_price::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	top: 50%;
	background-color: #000;
	/*opacity: .5;*/
}

.bold{
	font-family: 'FuturaNewBook-Reg';
	padding-left: 10px;
}

.basket__btn{
	margin-bottom: 90px;
	background-color: #fff;
	font-size: 100%;
	cursor: pointer;
}

.basket{
	text-align: center;
}

.basket_table{
	text-align: left;
}

.patients_table{
	background-color: var(--bg-color2);
}

.patients__table td:first-child{
	width: 40%;
}

.patients__title{
	padding: 60px 0 47px;
	text-align: left;
}

.patients__btn{
	margin-bottom: 20px;
}

.patients__table{
	margin-bottom: 45px;
}

.patients__more{
	font-family: 'FuturaNewBook-Reg';
	padding-right: 20px;
	margin-bottom: 65px;
	display: inline-block;
}

@media screen and (max-width: 1023px) {
	.basket{
		padding: 0 40px;
	}
	.basket_table__row .basket_table__c{
		display: none;
	}
	.basket_table__l{
		width: 40%;
		float: left;
	}
	.basket_table__row{
		display: block;
		height: auto;
		overflow: hidden;
		position: relative;
	}
	.basket_table__title{
		display: none;
	}
	.basket_table__l-c{
		width: 50%;
		float: left;
		padding-bottom: 20px;
	}
	.basket_table__c-r{
		width: 20%;
		margin-right: 30%;
		float: left;
		text-align: left;
	}
	.basket .prod_inf__counter{
		margin-left: 0;
	}
	.basket_table__r{
		text-align: left;
		padding-top: 15px;
	}
	.basket .table__remove{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin: 20px 0 20px 20px;
	}
	.basket .table__remove_mob{
		display: none;
	}
	.baasket_title{
		font-size: 40px;
	}
	.basket__low_title{
		font-size: 32px;
		padding-bottom: 26px;
	}
	.basket_table__l-c p{
		padding: 2px 40% 2px 0;
		font-size: 16px;
	}
	.table-bold{
		font-size: 18px;
	}
	.basket_table__pr,
	.basket_table__pr2{
		padding-top: 50px;
	}
	.basket_table__pr .basket_table__c,
	.basket_table__pr2 .basket_table__c{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		width: 100%;
		height: 50px;
	}
	.basket_table__pr .basket_table__l-c,
	.basket_table__pr2 .basket_table__l-c{
		padding-top: 40px;
	}
	.basket__desc{
		display: block;
		text-align: center;
	}
	.basket_table__pr .basket_table__r, .basket_table__pr2 .basket_table__r{
		padding-top: 0;
	}
	.basket_table__l img{
		margin-bottom: 5%;
		margin-top: 5%;
	}
}

@media screen and (max-width: 767px) {
	.baasket_title{
		font-size: 30px;
		padding-top: 30px;
	}
	.basket{
		padding: 0 20px;
	}
	.basket__low_title{
		font-size: 26px;
		padding-bottom: 30px;
	}
	.basket_table__l-c p{
		padding-right: 0;
	}
	.basket_table__l-c,
	.basket_table__r{
		width: 58%;
	}
	.basket_table__c-r{
		margin-right: 0;
		width: 56%;
	}
	.basket_table__l img{
		height: 60%;
	}
	.patients__table td{
		display: block;
		width: auto;
		text-align: left;
		opacity: 1;
	}
	.patients__table td:last-child{
		text-align: left;
		padding-bottom: 23px;
		width: auto;
	}
	.patients__table td:first-child{
		padding-top: 23px;
		padding-bottom: 10px;
		width: auto;
	}
	.patients__table .table__title{
		display: none;
	}
}