.uniq_news,
.uniq_history{
	background-color: var(--bg-color1);
	height: 440px;
	position: relative;
	overflow: hidden;
}

.uniq_history{
	height: auto;
}

.uniq_news:before,
.uniq_history:before{
	width: 100%;
	content: '';
	position: absolute;
	height: 1px;
	background-color: rgba(0, 0, 0, .1);
	left: 0;
	top: 51%;
}

.uniq_news__owl_item{
	width: 200px;
	height: 100px;
}

.uniq_news__link{
	display: block;
	margin-top: 70px;
	width: 299px;
	height: 293px;
	background: url(../../images/bg_btn1.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 2;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 99px;
}

.uniq_news__link_text{
	font-size: 18px;
	display: block;
	font-family: inherit;
	margin-top: 14px;
    text-align: left;
    padding-left: 28%;
}

.uniq_news__link_text:after{
	right: 33%;
	top: 60%;
}

.uniq_news__owl{
	position: absolute;
	top: 212px;
	left: 49.5%;
	width: 63%;
}

.uniq_news__owl_date{
	background-color: var(--bg-color1);
	display: inline-block;
	padding: 0 5px;
	color: rgba(0, 0, 0, .7);
	padding-bottom: 12px;
	letter-spacing: 1.6px;
}

.uniq_news__owl_link{
	display: block;
	padding-left: 5px;
	font-size: 22px;
}

.uniq_news__title_mob, 
.uniq_news__link_mob{
	display: none;
}

/*history*/

.uniq_history__title{
	text-align: left;
	/*padding-left: 15%;*/
	padding-left: 5px;
	padding-top: 40px;
}

.uniq_history .uniq_news__owl{
	/*left: 15%;*/
	left: 0;
	width: 140%;
	position: static;
}

.uniq_history .uniq_news__owl_item{
	/*width: 620px;*/
	width: auto;
	padding-right: 160px;
	height: auto;
}

.uniq_history .uniq_news__owl_link{
	font-size: 18px;
}

.uniq_history .max_width,
.uniq_history .owl-stage{
	overflow: visible;
}

.uniq_history .owl-dots{
	left: 50%;
	transform: translateX(-50%);
	top: 55px;
}

.uniq_history .owl-nav{
	right: 22px;
	top: 54px;
}

.uniq_history .uniq_news__owl_date{
	font-size: 21px;
	font-family: 'FuturaNewBook-Reg';
	padding-bottom: 38px;
	position: relative;
}

.uniq_history:before{
	top: 186px;
}

.text__content  .text__img_wr{
    margin-left: 50%;
    padding-left: 38px;
}

.uniq_history .uniq_news__owl_date:after{
	content: '';
	position: absolute;	
	bottom: 17px;
	left: 50%;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #000;
	transform: translateX(-50%);
}

.uniq_history .owl-stage{
	overflow: hidden;
	padding-bottom: 70px;
}

.circle{
	border-radius: 50%;
	/*margin: 0 auto;*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: solid 1px rgba(217, 238, 252, .3);
	width: 86%;
	height: 86%;
}

.prod_circle .circle__round{
	background-color: var(--bg-color1);
}

.prod_circle .circle__wr__lay2{
	border-color: rgba(227, 230, 254, .6);
}

.prod_circle .circle__wr__lay3{
	border-color: rgba(227, 230, 254, 1);
}

.prod_circle .circle__wr{
	border: solid 1px rgba(227, 230, 254, .3);
	width: 740px;
	height: 740px;
	margin: 27px auto;
}

.circle__wr{
	width: 540px;
	height: 540px;
	margin: 40px auto;
	border-radius: 50%;
	position: relative;
	border: solid 1px rgba(217, 238, 252, .3);
}

.circle_wr{
	position: relative;
}

.circle__wr__lay2{
	border-color: rgba(217, 238, 252, .6);
}

.circle__wr__lay3{
	border-color: rgb(217, 238, 252);
}

.circle__round{
	background-color: rgb(217, 238, 252);
}

.circle_wr__title{
	padding: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
}

.circle_wr__text{
	display: inline-block;
	position: absolute;
}

.circle_wr__text{
	top: 33%;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	padding-right: 20px;
	left: 2.5%;
	text-decoration: underline;
	text-decoration-color: rgba(0, 0, 0, .2);
}

.circle_wr__text:after{
	right: 0;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	content: '';
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #7CCCFF;
}

.circle_wr__text2{
	top: 61%;
}

.circle_wr__text3{
	top: 46%;
	left: auto;
	right: .8%;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	padding-right: 0;
	padding-left: 20px;
	max-width: 170px;
}

.circle_wr__text3:after,
.circle_wr__text5:after{
	right: auto;
	left: 0;
	transform: none;
	top: 8px;
}

.prod__circle{
	width: 90%;
	height: 90%;
	border: solid 1px rgba(227, 230, 254, .3);
}

.prod_circle__image{
	height: 72%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.prod_circle__title{
	padding: 86px 0 0;
}

.prod_circle .circle_wr__text:after{
	background-color: var(--bg-color13);
}

.circle_wr__text4{
	top: 43%;
	left: .5%;
}

.circle_wr__text5{
	top: 35%;
	left: auto;
	right: 2%; 
	-webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    padding-right: 0;
    padding-left: 20px;
    max-width: 170px;
}

.prod_circle .circle_wr__text1{
	top: 30%;
	left: 4%;
}

.prod_circle .circle_wr__text2{
	top: 56%;
	left: 1.2%;
}
/*
.prod_circle .circle_wr__text5{
	top: 35%;
}*/

.prod_circle .circle_wr__text3{
	top: 48%;
}

.prod_circle__tablet{
	display: none;
}

@media screen and (max-width: 1279px) {
	.uniq_news__link{
		margin-top: 128px;
	    width: 242px;
	    height: 235px;
	    padding-top: 70px;
	}
	.uniq_news__link_text{
		padding-left: 25%;
	}
	.uniq_news__link_text:after{
		right: 26%;
	}
	.uniq_news__owl{
		left: 42.5%;
	}
	.uniq_news__owl{
		width: 74%;
	}
	.prod_circle .circle__wr{
		width: 650px;
		height: 650px;
	}
}


@media screen and (max-width: 1023px) {
	.prod_circle .circle_wr__text{
		/*right: auto;
		white-space: nowrap;
		left: 111%;
		transform: none;
		padding-right: 0;
		padding-left: 20px;
		font-size: 18px;
		position: relative;
	    right: 0;
	    top: 110px;
	    line-height: 38px;
	    display: block;*/
	}
	.prod_circle__tablet{
		float: right;
		display: block;
		padding-right: 40px;
		padding-top: 110px;
	}	
	.prod_circle .circle_wr__text{
		display: none;
		position: relative;
		transform: none;
		padding-left: 20px;
		line-height: 38px;
	}
	.prod_circle__tablet .circle_wr__text{
		display: block;
	}
	.prod_circle{
		overflow: hidden;
	}
	.prod_circle__title{
		padding-top: 50px;
	}
	.prod_circle .circle__wr{
		width: 460px;
		height: 460px;
		margin-left: 40px;
		margin-top: 5px;
		float: left;
	}
	.prod_circle .circle_wr__text:after{
		right: auto;
		left: 0;
	}
	.uniq_news,
	.uniq_history{
		padding-left: 40px;
		padding-right: 40px;
		height: 369px;
	}
	.uniq_history{
		height: auto;
	}
	.uniq_news__link{
		display: none;
	}
	.uniq_news__owl{
		left: 35px;
	}
	.uniq_news__title_mob, 
	.uniq_news__link_mob{
		display: block;
		text-align: left;
	}
	.uniq_news__link_mob{
		margin-top: 153px;
	}
	.uniq_news__link_mob{
		display: inline-block;
		padding-right: 20px;
	}
	.uniq_history .owl-dots{
		left: 65%;
	}
	.uniq_history .uniq_news__owl{
		width: 190%;
	}
	.circle__wr{
		width: 420px;
		height: 420px;
		font-size: 16px;
	}
	.uniq_news__title_mob{
		padding-top: 48px;
	}
	.uniq_news__owl{
		top: 132px;
		font-size: 16px;
	}
	.uniq_news:before{
		top: 39%;
	}
	.uniq_news__owl_date{
		padding-bottom: 14px;
	}
	.uniq_news__owl{
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.uniq_news__title_mob{
		padding-top: 63px;
	}
	.prod_circle .circle__wr{
		margin-left: auto;
		float: none;
		width: 100vw;
		height: 100vw;
		max-width: 100vw;
		max-height: 100vw;
		margin-left: -2vw;
	}
	.prod_circle .circle_wr__text:after{
		top: 15px;
	}
	.prod_circle__tablet{
		float: none;
		padding: 0 20px 0 18%;
	}
	.uniq_news__link_mob{
		margin-top: 120px;
	}
	.uniq_news__owl{
		width: 130%;
		top: 129px;
		left: 55px;
	}
	.uniq_news .max_width{
		margin-left: 15px;
	}
	.uniq_history:before{
		top: 206px;
	}
	.uniq_news__owl_date{
		font-size: 14px;
		padding-bottom: 8px;
	}
	.uniq_news__owl_link{
		font-size: 20px;
	}
	.uniq_history .uniq_news__owl_item{
		padding-right: 60px;
	}
	.uniq_history{
		padding-left: 20px;
		padding-right: 20px;
	}
	.uniq_history .owl-nav{
		top: 71px;
		right: -16px;
	}
	.circle_wr__text{
		position: static;
		display: block;
    	transform: none;
    	position: relative;
    	top: 0;
    	padding-left: 20px;
    	padding-right: 0;
    	max-width: none;
    	left: 0;
    	right: auto;
    	/*margin-bottom: 15px;*/
    	margin-left: 10%;
	}
	.circle_wr__text1{
		margin-top: 120%;
	}
	.circle_wr__text:after{
		right: auto;
		left: 0;
		transform: none;
		top: 8px;
	}
	.circle__wr{
		margin-bottom: 150px;
		width: 98%;
		max-width: 390px;
		height: 96vw;
		max-height: 390px;
	}
	.uniq_news{
		height: 362px;
	}
}