.uniq_news,
.uniq_history{
	background-color: var(--bg-color1);
	height: 440px;
	position: relative;
	overflow: hidden;
}

.uniq_history{
	height: auto;
}

.uniq_news:before,
.uniq_history:before{
	width: 100%;
	content: '';
	position: absolute;
	height: 1px;
	background-color: rgba(0, 0, 0, .1);
	left: 0;
	top: 50%;
}

.uniq_news__owl_item{
	width: 200px;
	height: 100px;
	padding-right: 200px;
}

.uniq_news__link{
	display: block;
	margin-top: 70px;
	width: 300px;
	height: 300px;
	background: url(../../images/bg_btn1.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 2;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 99px;
}

.uniq_news__link_text{
	font-size: 18px;
	display: block;
	font-family: inherit;
	margin-top: 14px;
}

.uniq_news__link_text:after{
	right: 32%;
}

.uniq_news__owl{
	position: absolute;
	top: 210px;
	left: 50%;
}

.uniq_news__owl_date{
	background-color: var(--bg-color1);
	display: inline-block;
	padding: 0 5px;
	color: rgba(0, 0, 0, .7);
	padding-bottom: 16px;
}

.uniq_news__owl_link{
	display: block;
	padding-left: 5px;
	font-size: 22px;
}

.uniq_news__title_mob, 
.uniq_news__link_mob{
	display: none;
}

/*history*/

.uniq_history__title{
	text-align: left;
	/*padding-left: 15%;*/
	padding-left: 5px;
}

.uniq_history .uniq_news__owl{
	/*left: 15%;*/
	left: 0;
	width: 150%;
	position: static;
}

.uniq_history .uniq_news__owl_item{
	/*width: 620px;*/
	width: auto;
	padding-right: 160px;
	height: auto;
}

.uniq_history .uniq_news__owl_link{
	font-size: 18px;
}

.uniq_history .max_width,
.uniq_history .owl-stage{
	overflow: visible;
}

.uniq_history .owl-dots{
	left: 50%;
	transform: translateX(-50%);
	top: 96px;
}

.uniq_history .owl-nav{
	right: 0;
	top: 95px;
}

.uniq_history .uniq_news__owl_date{
	font-size: 21px;
	font-family: 'FuturaNewBook-Reg';
	padding-bottom: 38px;
	position: relative;
}

.uniq_history:before{
	top: 220px;
}

.uniq_history .uniq_news__owl_date:after{
	content: '';
	position: absolute;	
	bottom: 17px;
	left: 50%;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #000;
	transform: translateX(-50%);
}

.uniq_history .owl-stage{
	overflow: hidden;
	padding-bottom: 50px;
}


@media screen and (max-width: 1023px) {
	.uniq_news,
	.uniq_history{
		padding-left: 40px;
		padding-right: 40px;
	}
	.uniq_news__link{
		display: none;
	}
	.uniq_news__owl{
		left: 35px;
	}
	.uniq_news__title_mob, 
	.uniq_news__link_mob{
		display: block;
		text-align: left;
	}
	.uniq_news__link_mob{
		margin-top: 150px;
	}
	.uniq_news__link_mob{
		display: inline-block;
		padding-right: 10px;
	}
	.uniq_history .owl-dots{
		left: 65%;
	}
	.uniq_history .uniq_news__owl{
		width: 190%;
	}
}

@media screen and (max-width: 767px) {
	.uniq_news__owl{
		width: 150%;
	}
	.uniq_history:before{
		top: 206px;
	}
	.uniq_history .uniq_news__owl_item{
		padding-right: 60px;
	}
	.uniq_history{
		padding-left: 20px;
		padding-right: 20px;
	}
	.uniq_history .owl-nav{
		top: 86px;
	}
}