.btn{
	text-decoration: none;
	color: var(--black-color);
	border: var(--button-border);
	min-width: 224px;
	height: 50px;
	text-align: center;
	padding: 0 28px;
	display: inline-block;
	line-height: 50px;
}

.btn:hover{
	color: var(--black-color);
}

.max_width{
	width: 1004px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: var(--black-color);
}

.underline_header{
	border-bottom: 2px solid var(--opacity-underlane-text-color);
}

.header_color{
	color: var(--header-opacity-text-color);
}